html, body {
<<<<<<< HEAD
	margin:0px;
	padding:0px;

	background: #fff;
=======
	padding:0px;
	margin:0px;

	background:black;
>>>>>>> 6d975a773a6f2ad091b88f932153c0dd9582bcba
}


canvas {
	width:100%;
	height:100%;
<<<<<<< HEAD
	position: absolute;
=======
	position: absolute;;
>>>>>>> 6d975a773a6f2ad091b88f932153c0dd9582bcba
}